:root {
  --tekstas-color: #1a1c20;
  --nuorodu-color: #4a76ee;
  --background-color: #eeeff1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  max-width: 1400px;
  margin: 0 auto;
}

a {
  color: var(--nuorodu-color);
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 50px;
  height: 80px;
}

nav .logo_vardas_pradzia a {
  color: var(--text-color);
  font-size: 22px;
  font-weight: 600;
}

nav .kontaktiniai_Duomenys a {
  color: var(--text-color);
  margin: 0 10px;
}

nav .right a:last-child {
  color: var(--background-color);
  background-color: var(--text-color);
  padding: 5px 15px;
  border-radius: 5px;
}

nav .right a span {
  margin-left: 5px;
}

.pagrindinis {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin: 50px 0;
  margin-bottom: 100px;
  gap: 40px;
}

.pagrindinis .tekstas {
    flex: 5;
}

.pagrindinis .tekstas h2 {
  font-size: 45px;
}

.pagrindinis .tekstas .links a  {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid var(--link-color);
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: .1s;
  
}

.pagrindinis .tekstas .links a:hover {
  color: var(--tekstas-color);
  border: 2px solid var(--tekstas-color);
}

.hero-section .persnonalis_nuotrauka {
  flex: 2;
  display: flex;
  justify-content: right;
}

.hero-section .persnonalis_nuotrauka img {
  max-width: 300px;
  border-radius: 50%;
}

.igudziu-sarasas {
  padding: 0 50px;
  margin-bottom: 100px;
}

.igudziu-sarasas h2 {
  text-align: center;
  margin-bottom: 20px;
}

.igudziu-sarasas .tekstas {
  text-align: center;
  margin-bottom: 20px;
}

.igudziu-sarasas .nuotraukos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.igudziu-sarasas .nuotraukos .ntr {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  padding: 10px 20px;
  margin: 10px;
  border: 1.5px solid #d3d3d3;
  border-radius: 5px;
}

.igudziu-sarasas .nuotraukos .ntr img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 2px;
}

.igudziu-sarasas .nuotraukos .ntr span {
  font-size: 18px;
}

.kontaktu-sekcija {
  padding: 0 50px;
  margin-bottom: 100px;
}
.kontaktu-sekcija h2 {
  font-size: 35px;
}

.kontaktu-sekcija .grupe-kontaktu {
  display: flex;
  gap: 50px;
}

.kontaktu-sekcija .grupe-kontaktu .tekstas {
  flex: 3;
  margin-top: 20px;
}

.kontaktu-sekcija .grupe-kontaktu form {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.kontaktu-sekcija .grupe-kontaktu form input,
.kontaktu-sekcija .grupe-kontaktu form textarea {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid dodgerblue;
  background-color: transparent;
  padding: 10px;
  margin-bottom: 15px;
  outline: none;
  resize: none;
}

.kontaktu-sekcija .grupe-kontaktu form button {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  background-color: dodgerblue;
  border: none;
  height: 50px;
  cursor: pointer;
  transition: .1s;
} 
.kontaktu-sekcija .grupe-kontaktu form button:hover {
  filter: brightness(.9);
}